{% extends 'main/layout/layout.html' %}

{% block title%}About us{% endblock %}

{% block content%}

    <style>
        .ta-center{
        text-align: center;
    }

        .container {
        border: 1px solid #ffffff;
        border-radius: 10px;
        padding: 15px;
        margin-bottom: 15px;
        box-shadow: 2px 2px 5px rgba(8, 9, 23, 0.1);
        background-color: #f9f9f9;
    }

    </style>

    <div class="container ta-center">
        <h1>About us</h1>
    </div>
    <div class="container ta-center"> Marketplace is a free market space, where you can search or post many offers. Weaher it be to sell or exchange.
        We provide a save and easy to use tools to mae your purchesses and offers accesable. 
    </div>

    <div>
        //jakiś ładny obrazek tu wrzuce w tematyce 0o0 i guess
    </div>

{% endblock %}