{% extends 'main/layout/layout.html' %}

{% block title%}Terms of Service{% endblock %}

{% block content%}
    <div class="features">
        <h1>Terms of Service</h1>
        <h2>Everything you need to know, all in one place!</h2>
        <p>If you want to see most Friquent Ask Questions, click here!</p><br>

        <h3>Terms</h3><br>
        <p>General Terms</p>
        <ol>
            <li>The terms of use of the Service, including the rules of Registration, 
                publication of Advertisements and purchase of Paid Services, 
                as well as issues related to payments and complaint procedures are specified in the Regulations. 
                Each user of the Service is obliged to familiarize themselves with the content of the Regulations.</li>
            <li>Final Price - the price including VAT and excise duty (if applicable) 
                at which the Item or Service is offered to Buyers.
                Guests may only use limited functions of the Service under the terms set out in these Regulations, 
                with respect for the law and principles of fairness.</li>
            <li>Content published on the Website, including in particular Advertisements, 
                regardless of their form, i.e. text, graphic and video materials, 
                are subject to protection by intellectual property rights, including copyright and industrial property rights, 
                of the MP Group, Sellers or third parties. 
                Any use of this content without the written consent of the authorized parties is prohibited. 
                Any aggregation and processing of data and other information available on the Website for the purpose 
                of further sharing with third parties within other websites and outside the Internet is prohibited. 
                It is also prohibited to use the Website and MP Group markings, 
                including characteristic graphic elements, without the consent of the MP Group.</li>
            <li>The MP Group is not a party to the Transaction. 
                The provisions on the protection of consumer rights shall not apply to Transactions concluded between Consumers, 
                i.e. individuals who are not entrepreneurs, 
                including when using the MP Shipment and MP Payment services.</li>
            <li>Users can make a Transaction:
                via the Service using the services: MP Shipment and MP Payments, 
                referred to in points 10 and 11 of the Regulations, or
                by contacting each other directly to establish the terms and finalize the Transaction. 
                The User can establish direct contact with the Seller using the chat on the Service, 
                the Seller's telephone number on the Advertisement page (if provided) 
                or using other forms of contact established by the Users.</li>
            <li>The services of viewing the contents of the Service, 
                Account and publishing Advertisements within the free Limits are provided free of charge. 
                Services that are provided for a fee are indicated in the Regulations.</li>
            <li>Payment services are provided by external service providers on behalf of Users, 
                based on separate legal relations to which the MP Group is not a party.</li>
            <li>A Seller who is a legal person or an organizational unit without legal personality, 
                to which the law grants legal capacity, and whose registered office or permanent place 
                of business is located outside the European Union, 
                is not able to use the MP Shipment and MP Payment services.</li>
            <li>Users communicating with other Users via the chat functionality on the Service acknowledge 
                that these conversations are not private and their content may be collected by the MP Group. 
                By accepting these Terms and Conditions, the User confirms that the MP Group has the right 
                to access and analyze the content of conversations conducted via 
                the chat functionality on the Service in order to increase the safety of Users, 
                prevent abuse and improve the Service.</li>
        </ol><br>
        <p>Account</p>
        <ol>
            <li>In order to obtain full functionality of the Service, the Guest should (1) Register an Account,
                 (2) specify whether they are using the Service privately or as an entrepreneur, 
                 and (3) use the Service as a logged-in User. The Account gives the User the ability to use, 
                among others, the following functionalities of the Service:</li>
                <ol type="a">
                    <li>publishing and managing published Posts;</li>
                    <li>observing Posts of other Users 
                        and receiving PUSH notifications about changes in the prices of Items offered in observed Posts;</li>
                    <li>managing payments and invoices related to services provided on the Website by the MP Group;</li>
                    <li>sending and receiving messages to other Users;</li>
                    <li>concluding Transactions using the MP Shipment service;</li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ol>
            <li></li>
            <li></li>
            <li></li>
        </ol><br>
       
        <p></p><br>




        <button class="btn btn-success">FAQ</button>
    </div>


{% endblock %}